body {
	background-color: rgb(252, 246, 240);
}

button {
	font-size: 24px;
	height: 80px;
	width: 80px;
}

img {
	width: 100%;
}

footer {
	background-color: blanchedalmond;
}

.nomarker {
	background-color: #fff3f0;
	color: #1f0008;
}

.marker {
	background-color: yellow;
	color: #1f0008;
}

/* SLIDER CONTAINER */

#slider_container {
	background-color: blanchedalmond;
	height: 100px;
	margin-top: 20px;
}

#text_slider {
	font-size: 32px;
	font-weight: bold;
	position: absolute;
	top: 32px;
	left: 50%;
	transform: translate(-50%, -50%);
}

#last_word {
	color: #c8d2e6;
	float: left;
}

#curr_word {
	color: #1f0008;
}

#next_word {
	color: #c8d2e6;
	float: right;
}

/* TEXT VIEWER */

#text_viewer {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.whole_height {
	height: 200px;
	margin: auto 10px;
}

#atext {
	font-size: 24px;
	width: 100%;
	height: auto;
	margin: 20px 10px;
}

#text_container {
	width: 100%;
	font-size: 24px;
}

#reading_speed {
	width: 50px;
	font-size: 24px;
}

/* CONTROL PANEL */

#control_panel {
	margin-top: 20px;
	font-size: 24px;
}
