body {
	background-color: #fff3f0;
}

#slider_container {
	background-color: #fffaf0;
	height: 100px;
	margin-top: 20px;
}

#text_slider {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	font-size: 32px;
	font-weight: bold;
	position: absolute;
	top: 32px;
	left: 50%;
	transform: translate(-50%, -50%);
}

#last_word {
	color: #c8d2e6;
	float: left;
}

#curr_word {
	color: #1f0008;
}

#next_word {
	color: #c8d2e6;
	float: right;
}

#atext {
	font-size: 24px;
	width: 80%;
	height: auto;
	margin: 20px auto;
}

.nomarker {
	background-color: #fff3f0;
	color: #1f0008;
}

.marker {
	background-color: yellow;
	color: #1f0008;
}

#text_container {
	width: 100%;
	height: 100%;
}

#reading_speed {
	width: 30px;
}
